.catalog {
  display: grid;
  gap: 48px;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 1024px) {
    & {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    & {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (min-width: 488px) and (max-width: 767px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

}
